.myVideo {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    filter : blur(50%);
    min-height: 100%;
}
.fullscreen-bg__video {
    margin-top: -75px;
    filter : blur(2px);

}

.subtitle {
    color: #7d2a4e;;
    text-shadow: 0px 4px 0.5px #4a4a4a61;
    font-family: 'Yanone Kaffeesatz', cursive;
    text-align: center;
    font-size: 60pt;
    text-transform: capitalize;
}



h2 {
	font-size: 30pt;
	text-transform: uppercase;
	color: #f4f4f4;
    text-shadow: 0 0 9px #000000;
    position: relative;
    bottom: 66px;

}
h3{
	padding-top: 50px;
	font-size: 40pt !important;

}
h3::after{
	content:"";
	background-color: black;
	display: block;
	width: 15%;
	height: 1px;
	margin: 20px auto;
}

#first,#second,#third {
	width: 23%;
	margin-left: 4%;
    margin-right: 4%;
    margin-top: 40px;
    transition: all 0.6s ease-in-out;
    filter: grayscale(10%);
    height: 400px;

}
#first:hover,#second:hover ,#third:hover {
	transform: translateY(-20px);


}

*{
	text-align: justify;
	text-align: center;

}
.portfolio {

background-color: white;
margin: -30px;
font-family: 'Yanone Kaffeesatz', sans-serif;
padding-bottom: 30px;
}

}
.body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.front {
font-family: 'Yanone Kaffeesatz', sans-serif; 
background-image: url("./img/b") ;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
position: absolute;
z-index: 1;

}
.front{
    position: absolute;
	margin-bottom: 0px;
	margin-left: 31%;
    margin-top: -450px;
    z-index: 1;
}

.navbar,.navbar-inverse {
	opacity:1;
	border-radius: 0px !important;
	font-family: Hind;
    position: absolute;
    z-index: 1;
    margin-left: -1px !important;
}
.navbar-inverse {
    background-image: linear-gradient(to left, #c94b4b 0%, #c94b4b 40%, #4b134f 100%) ;
    box-shadow: 0px 2px 50px #000000;
}



.nav, .navbar-nav{
	padding-left: 40px;
    position: absolute;
    z-index: 1
}
.navbar-nav {
    float: right !important;
    position: absolute;
    z-index: 1
}
.navbar-inverse .navbar-nav>.active>a, {
background-color: #222 !important;
    position: absolute;
    z-index: 1;
}
.Button1 {
    margin: 10px;
    font-family: "Hind", Gadget, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    float: center;
    margin-left: -10px;
    width: 102%;
    background-image: linear-gradient(to left, #c94b4b 0%, #c94b4b 40%, #4b134f 100%) ;
 }
 .Button2 {
    margin: 10px;
    font-family: "Hind", Gadget, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    float: center;
    margin-left: -10px;
    width: 30%;
    background-image: linear-gradient(to left, #c94b4b 0%, #c94b4b 40%, #4b134f 100%) ;
 }
.Button1:hover, .Button2:hover {
	transform: translateX(10px);
}
